a{
	color: #1EB858;
}
a:hover{
	color: #1EB858;
}
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover{
	color: #1EB858;
}
.btn-common{
	border-color: #1EB858;
    background-color: #1EB858;
}
.btn-common:hover{
	border-color: #1EB858;
    color: #1EB858;
}
.btn-border:hover{
	background-color: #1EB858;
}
.controls .active{
	color: #1EB858 !important;
    border-color: #1EB858;
}
#carousel-area .carousel-control-next i:hover, #carousel-area .carousel-control-prev i:hover{
	border: 2px solid #1EB858;
	background: #1EB858;
}
#subscribe .sub_btn:hover{
	background: #2ec969;
}
.section-header .section-title span{
	color: #1EB858;
}
.section-header .lines{
	border-color: #1EB858; 
}
.section-header .lines:before{
	background: #1EB858;
}
.overlay{
	background: #1EB858;
}
#hero-area .overlay{
	background: #1EB858;
}
.navbar-expand-md .navbar-nav .active > .nav-link, .navbar-expand-md .navbar-nav .nav-link.active, .navbar-expand-md .navbar-nav .nav-link.active::before, .navbar-expand-md .navbar-nav .nav-link.open, .navbar-expand-md .navbar-nav .open > .nav-link{
	color: #1EB858;
}
.navbar-expand-md .navbar-nav .nav-link:focus, .navbar-expand-md .navbar-nav .nav-link:hover, .navbar-expand-md .navbar-nav .nav-link:hover:before{
	color: #1EB858;
}
.navbar-expand-md .navbar-nav .nav-link:before{
	background: #1EB858;
}
.menu-bg .logo-menu a, .menu-bg .menu-button:hover{color: #1EB858;}
.menu-wrap .navbar-nav li .active,
.menu-wrap .navbar-nav li .active::before{
	color: #1EB858;
}
.menu-wrap a:hover, .menu-wrap a:focus{
	color: #1EB858;
}
.icon-list a::before {
    background: #1EB858;
}
#about .about-boxes .icon{
	border-color: #1EB858;
}
#about .about-boxes .icon i{
	color: #1EB858;
}
.item-boxes .icon{
	border-color: #1EB858;
}
.item-boxes .icon i{
	color: #1EB858;
}
#features .box-item .icon{
	border-color: #1EB858;
}
#features .box-item .icon i{
	color: #1EB858;
}
#features .box-item:hover .icon{
	background: #1EB858;
}
.shot-item .overlay:before, 
.shot-item .overlay:after{
	background: #1EB858;
}
.controls .mixitup-control-active{
	color: #1EB858!important;
	border-color: #1EB858;
}
.owl-theme .owl-controls .owl-page span{
	background: #1EB858;
}
.pricing-table .icon{
	color: #1EB858;
	border-color: #1EB858;
}
.pricing-table .pricing-details span{
	color: #1EB858;
}
#blog .blog-item-img:before {
	background: rgba(30, 184, 88, 0.7);
}
#blog .blog-item-text h3 a:hover{
	color: #1EB858;
}
.meta-tags span a:hover{
	color: #1EB858;
}
.form-control:focus{
	box-shadow: 0 0 2px #1EB858;
}
#subscribe .sub_btn{
	background: #1EB858;
}
#contact:before{
	background: #1EB858;
}
.back-to-top i{
	background-color: #1EB858;
}
.single-team .social-list li a{
	color: #1EB858;
}
.toggle-map{
	background-color: #1EB858;
}
.toggle-map .map-icon{
	border-color: #1EB858;
}
#google-map{
	border-color: #1EB858;
}
#subscribe form input:focus{
	border-color: #1EB858;
}
